body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #818181;
}
.container2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60%;
  background-color: #818181;
}
.header-menu {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 5%;
  background-color: #fff;
}
.header-button {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.header-menu-button {
  width: auto;
  height: auto;
  background-color: #fff;
  border: none;
  font-size: 40px;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  cursor: pointer;
  color: black;
  border-bottom: 2px solid #f9cb32;
}
.header-menu-button:hover {
  border-bottom: 7px solid #f9cb32;
}
.header-menu-button:active {
  border-bottom: 7px solid #f9cb32;
}

.icon {
  display: flex;
  justify-content: center;
  width: 100%;
}
.image-icon {
  width: 15%;
  height: 15%;
  text-align: center;
  margin-top: 5%;
}
.box {
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
  background-color: #c7c7c7;
  margin: auto;
  border-radius: 10px;
  margin-top: 5%;
}

.projetos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #818181;
}
.icon-contato {
  width: 80px;
  height: 80px;
  margin: 15px;
}
.imagens {
  width: 500px;
  height: 700px;
  margin-top: 10%;
  border-radius: 15px;
}
.box-contato {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40%;
  align-items: center;
  background-color: rgb(249, 203, 50);
}
.redes-box {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 40%;
  height: 40%;
  background-color: rgb(249, 203, 50);
  align-items: center;
  flex-direction: row;
  border-radius: 15px;
}

/* TEXTOS */

.fonte-grande {
  font-size: 60px;
  font-family: "Roboto Slab", serif;
}
.fonte-media {
  font-size: 40px;
  font-family: "Roboto Slab", serif;
}
.fonte-pequena {
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}
.cabecalho {
  color: #fff;
  text-align: center;
  font-weight: 900;
  margin-top: 5%;
}
.text-box {
  width: 90%;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
}
.texto-subtitulo {
  color: #fff;
}
@media (min-width: 700px) {
  html,
  body {
    height: 100%;
    width: 100%;
  }
  .container{
    height: auto;
  }
  button.header-menu-button {
    font-size: 18px;
  }
  .image-icon{
    width: 25%;
    margin-top: 20%;
  }
  .fonte-grande {
    font-size: 30px;
  }
  .fonte-pequena{
    font-size: 15px;
  }

  .box{
    width: 95%;
  }
